@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#2c2c54;
  --orange:#ff9f1a;
}

*{
  font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
  }

  .td{
    align-content: center;
  }
  
  form {
    width: 400px;
    margin: 50px;
    margin-left: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 95%;
    left: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  select {
    width: 100%;
    left: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn{
    display: inline-block;
    margin-top: .3rem;
    text-decoration: none;
    border-radius: .5rem;
    border:.1rem solid black;
    font-weight: bolder;
    font-size: 1.3rem;
    color:black;
    cursor: pointer;
    background:#fff;
    padding: .3rem 10.7rem;
  }

  .btn:hover{
    background:orange;
    color:#fff;
  }

  